<html>
  <body>
    <% genreData.genres.forEach((genre)=>{ %>
    <div>
      <p><%= genre.gname %> </p>
      <a><button href='/genres/edit/<%= genre.gid %>'>Edit</button></a>
        <button onclick="deleteGenre('<%= genre.gid %>')">Delete</button>
    </div>
    <% }) %>

    <script>
      async function deleteGenre(gid) {
         console.log("Attempting delete for gid:", gid);
        const res = await fetch(`/genres/delete/${gid}`, {
          method: 'DELETE'
        });
        console.log(res);
        if (res.ok) {
          window.location.href = "/genres/all";
        } else {
          alert("Failed to delete genre.");
        }
      }
    </script>
  </body>
</html>

