<!DOCTYPE html>
<html>
  <head>
    <title>Genres & Movies</title>
    <style>
      .genre { margin-bottom: 1rem; padding: 0.5rem; border: 1px solid #ccc; }
    </style>
  </head>
  <body>
    <h1>Genres (<%= totalNoOfGenres %>)</h1>
    <% genres.slice(0, 3).forEach((genre) => { %>
        <p><strong><%= genre.gname %></strong></p>
    <% }); %>

    <% if (genres.length > 3) { %>
      <a href="/genres/all"><button>Show all genres...</button></a>
    <% } %>

    <h2>Movies</h2>
      <% movies.slice(0,3).forEach(movie => { %>
        <p><%= movie.mname %> </p>
      <% }); %>
          <% if (movies.length > 3) { %>
      <a href="/movies/all"><button>Show all movies...</button></a>
      <% } %>

  </body>
</html>

